.login-container {
  width: 300px;
  height: auto; 
  background-color: white;
}

.text {
  color: black;
  background-color: white;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}